/*
  WARNING:
  This file includes all the defaults, normally this file should NOT be modified.
  Include the design styles in main.scss

  xs < 576px wide
  sm < 768px wide
  md < 992px wide
  lg < 1200px wide
  xl > 1200px wide
*/
.a00001-thumbnail-screensize {
  background-image: url(thumbnail-xs.jpg); }

.a00001-thumbnail-screensize {
  background-image: url(thumbnail-sm.jpg); }

.a00001-thumbnail-screensize {
  background-image: url(thumbnail-md.jpg); }

.a00001-thumbnail-screensize {
  background-image: url(thumbnail-lg.jpg); }

.a00001-thumbnail-screensize {
  background-image: url(thumbnail-xl.jpg); }

html {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }

/* Custom styles  goes here */
img {
  max-width: 100%; }

